<!-- contact-us.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Contact Us Email</title>
</head>
<body>
    <h2>Hello Support Team,</h2>
    <p>
        You have a new message from a user via the 'Contact Us' form on your app.
    </p>
    <p><b>Subject:</b> {{subject}}</p>
    <p><b>Message:</b> {{message}}</p>
    <p><b>From:</b> {{email}}</p>
</body>
</html>
