<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Your new system-generated password is: <strong>{{password}}</strong>.</p>
    <p>Please change this password upon logging in through the app settings.</p>
</body>
</html>
