<!DOCTYPE html>
<html>
<head>
    <title>Report User Email</title>
</head>
<body>
    <h2>Hello Support Team,</h2>
    <p>
        A User has been reported.
    </p>
    <p><b>Reported By:</b> {{reporterId}}</p>
    <p><b>Reported User:</b> {{reportedUserId}}</p>
    <p><b>Reason:</b> {{reason}}</p>
</body>
</html>
