<!DOCTYPE html>
<html>
<head>
    <title>Report Listing Email</title>
</head>
<body>
    <h2>Hello Support Team,</h2>
    <p>
        A listing has been reported.
    </p>
    <p><b>Listing:</b> {{listingId}}</p>
    <p><b>Reason:</b> {{reason}}</p>
    <p><b>Reported By:</b> {{userId}}</p>
</body>
</html>
